p, h1, h3 {
  font-family: 'Tajawal', sans-serif;
}

#navHR {
  margin-bottom: 20px;
}

.carousel-item {
  background: no-repeat scroll;
  background-position: center;
}

#professionalLinks {
  font-size: 25pt;
}

.fab {
  color:rgb(34,139,142);
}

#contactContainer {
  justify-content: center;
}

.aboutCol {
  justify-content: center;
  margin: auto;
}

iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

.projectImg {
  width: 500px;
  height: auto;
}

#bio {
  margin: auto;
}

#tarah {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

#tarah, #createohImg, #icebreakersImg, #succorImg {
  max-width: 100%;
  height: auto;
  margin: auto;
}

#aboutMe {
  margin: 5%;
  background: rgb(34,139,142);
  border-radius: 20px 60px;
}

.btn {
  background: rgb(34,139,142);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-size: 16px;
  padding: 12px 24px;
  cursor: pointer;
  color: rgb(109,205,204);
}

#bioText {
 color: white;
}

#bioTitle {
  color: rgb(109,205,204);
}

.portfolioTitle {
 color: rgb(34,139,142);
}

.portfoliotext {
  color: rgb(71,62,63);
}

#footerText {
  color: rgb(109,205,204);
}

#projectsTitle {
   color: rgb(34,139,142);
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  outline: black;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: rgb(34,139,142);
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: rgb(34,139,142); 
}

.carousel-indicators li {
  display: inline-block;
  margin: 10px;
  text-indent: 0;
  cursor: pointer;
  border: none;
  background-color: rgb(109,205,204); 
  box-shadow: inset 1px 1px 1px 1px rgb(34,139,142);    
}
.carousel-indicators .active {
  margin: 10px;
  background-color: white; 
}


/* color pallet:
darkcyan: rgb(34,139,142),
mediumaquamarine: rgb(109,205,204),
khaki: rgb(248,229,90),
lightgreen: rgb(144,220,158),
darkslategray: rgb(71,62,63)
 */

